/*
Colors used:
Primary Color (Grey): #707070;
Accent Color (Pink): #FB6072;
Dark Color (Black): #202020;
Terciary Color (Dark Grey): #3F3F3F;
White (White): #FFFFFF;
*/
body {
  background-color: #707070;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #202020;
}

header {
  background-color: #3F3F3F;
  padding: 10px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}

a {
  color: #707070;
  text-decoration: none;
}
a:visited {
  color: #FB6072;
  text-decoration: none;
}
a:hover {
  color: #FB6072;
  text-decoration: underline;
}
a:active {
  color: #FB6072;
}
a:focus {
  color: #FB6072;
  text-decoration: underline;
}

.button{
  display: inline-block;
  margin: 25px;
  background-color: #ffffff;
  color: #FB6072;
  font-weight: 400;
  padding: 10px;
  border: 2px solid #FB6072;
  border-radius: 5px;
  transition: 0.2s opacity;
}
.button:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   text-decoration: none;
}

.button.contact {
  background-color: #FB6072;
  color: #FFFFFF;
}

.button.cv{

}
